* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    width: 50vw;
    height: 50vh;
    display: none;
}

.image.show {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.up, 
.down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.up {
    top: 10px;
}

.down {
    bottom: 10px;
}

.hidden {
    display: none;
}